[submodule "themes/shortcode-gallery"]
	path = themes/shortcode-gallery
	url = https://github.com/mfg92/hugo-shortcode-gallery.git

[submodule "themes/PaperMod"]
    path = themes/PaperMod
    url = https://github.com/adityatelange/hugo-PaperMod.git