{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "proseWrap": "always",
    "overrides": [
        {
            "files": [
                "*.html"
            ],
            "options": {
                "parser": "go-template"
            }
        }
    ],
    "plugins": [
        "prettier-plugin-go-template",
        "prettier-plugin-tailwindcss"
    ]
}