body {
    font-size: unset;
}

.meteor-shower {
    @apply absolute top-1/2 left-1/2 h-0.5 w-0.5 bg-rose-200 rounded-[9999px] shadow-[0_0_0_1px_#ffffff10] rotate-[215deg] will-change-auto;
    animation: meteor 5s linear infinite;
}

.meteor-shower:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 1px;
    background: linear-gradient(90deg, theme('colors.rose.200'), transparent);
}

@keyframes meteor {
    0% {
        transform: rotate(215deg) translateX(0);
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: rotate(215deg) translateX(-500px);
        opacity: 0;
    }
}
