<script>
    window.addEventListener('load', () => {
        const header = document.getElementById('header')
        const hero = document.getElementById('hero')
        const clazz = ['border-b', 'bg-white']

        if (!hero || window.scrollY > 0) {
            header.style.transition = 'none'
            header.classList.add(...clazz)
            setTimeout(() => {
                header.style.transition = ''
            }, 0)
        }

        window.addEventListener('scroll', () => {
            if (window.scrollY > 0) {
                header.classList.add(...clazz)
            } else if (!!hero) {
                header.classList.remove(...clazz)
            }
        })

        const ham = document.getElementById('ham')
        const expand = 'expand'

        ham.addEventListener('click', () => {
            header.classList.toggle(expand)
            ham.classList.toggle(active)
        })
    })
</script>

<header
    class="expand:border-b expand:bg-white fixed top-0 right-0 left-0 z-[100] border-slate-300 transition-[background-color]"
    id="header"
>
    <nav
        class="mx-auto flex flex-col border-slate-300 duration-250 lg:w-[64rem]"
    >
        <div class="flex h-16 items-center justify-between px-6 py-3 lg:px-0">
            <a
                href="{{ "" | absLangURL }}"
                class="font-corinthia text-2xl font-bold tracking-[5px]"
            >
                {{ T "name" }}
            </a>
            <div class="hidden md:block">
                {{- partial "header_menu.html" . -}}
            </div>
            <a
                href="#"
                aria-label="toggle menu"
                title="Toggle menu"
                class="btn-ham text-[1.5rem] md:hidden"
                style="--ham-color: black"
                id="ham"
            >
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
        <div
            class="expand:opacity-100 expand:grid-rows-[1fr] grid grid-rows-[0fr] border-t border-slate-300 bg-white opacity-0 transition-all md:hidden"
        >
            {{- partial "header_menu.html" . -}}
        </div>
    </nav>
</header>
