{{- with site.Params.homeInfoParams }}
    <div
        class="from-lavender to-peach section relative flex h-dvh items-center justify-center overflow-hidden bg-linear-to-br"
        id="hero"
    >
        <div class="absolute top-0 right-0 bottom-0 left-0 z-1">
            {{ partial "meteor.html" }}
        </div>

        <div class="absolute bottom-0 left-0 z-1 w-full">
            <div
                class="flex items-end justify-center gap-8 text-[10px] sm:gap-16 sm:text-[14px] lg:text-base"
            >
                {{- with resources.Get (path.Join "imgs" "hku-bear.png") }}
                    {{- with .Process "fill 240x240 webp top" }}
                        <img
                            class="w-[10em] translate-y-4 -rotate-12 opacity-30 transition hover:translate-y-0 hover:opacity-100"
                            src="{{ .RelPermalink }}"
                            alt=""
                        />
                    {{- end }}
                {{- end }}

                {{- with resources.Get (path.Join "imgs" "case.png") }}
                    {{- with .Process "fill 240x300 webp top" }}
                        <img
                            class="w-[10em] translate-y-4 opacity-30 transition hover:translate-y-0 hover:opacity-100"
                            src="{{ .RelPermalink }}"
                            alt=""
                        />
                    {{- end }}
                {{- end }}

                {{- with resources.Get (path.Join "imgs" "hku-bear-pink.png") }}
                    {{- with .Process "fill 240x240 webp top" }}
                        <img
                            class="w-[10em] translate-y-4 rotate-12 opacity-30 transition hover:translate-y-0 hover:opacity-100"
                            src="{{ .RelPermalink }}"
                            alt=""
                        />
                    {{- end }}
                {{- end }}
            </div>
        </div>

        <div class="justify-left z-10 -mt-16">
            <div class="mb-6 flex flex-col items-center">
                {{- with resources.Get (path.Join "imgs" site.Params.avatar) }}
                    {{- with .Fill "480x480 center webp" }}
                        <img
                            class="mb-2.5 h-20 w-20 rounded-full shadow-xs shadow-pink-100"
                            src="{{ .RelPermalink }}"
                            alt=""
                        />
                    {{- end }}
                {{- end }}


                <p class="font-corinthia text-4xl font-bold tracking-[5px]">
                    {{ T "name" }}
                </p>
            </div>

            <div
                class="font-primary relative mb-8 text-xl leading-normal font-bold transition-[font-size] sm:text-4xl sm:leading-normal md:text-5xl md:leading-normal"
            >
                <div class="opacity-0">
                    {{ .title | markdownify }}<br />
                    {{ .content | markdownify }}
                    <span class="inline-block w-0"></span>
                </div>
                <div
                    id="typeit"
                    class="absolute top-0 left-0 opacity-0"
                    style="--ti-cursor-transform: ''"
                >
                    {{ .title | markdownify }}<br />
                    {{ .content | markdownify }}
                </div>
                {{- $typeitjs := resources.Get "js/typeit.min.js" }}
                {{- if not site.Params.assets.disableFingerprinting }}
                    {{- $typeitjs = fingerprint $typeitjs }}
                    <script
                        defer
                        crossorigin="anonymous"
                        src="{{ $typeitjs.RelPermalink }}"
                        integrity="{{ $typeitjs.Data.Integrity }}"
                    ></script>
                {{- else }}
                    <script
                        defer
                        crossorigin="anonymous"
                        src="{{ $typeitjs.RelPermalink }}"
                    ></script>
                {{- end }}
                <script>
                    window.addEventListener('load', () => {
                        const el = document.getElementById('typeit')
                        const it = new TypeIt(el, {
                            afterComplete: () =>
                                setTimeout(() => it.destroy(), 500),
                        }).go()
                        el.classList.remove('opacity-0')
                    })
                </script>
            </div>
        </div>
    </div>
{{- end -}}
